<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
</head>
<body>
<div class="container">
  <h1>User List</h1>
    <table class="table">
        <tr ><th>User Name</th><th>Password</th><th>Action</th></tr>
        <%for(var i=0;i<users.length;i++){ %>
        <tr><td>
            <%= users[i].userName %>
        </td><td>
                <%= users[i].password %>
        </td><td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>

            </td></tr>
        <%}%>
    </table>
</div>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/common/common.js"></script>
</html>
