<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
</head>
<body>
<div class="container">
  <h1>User List</h1>
    <table class="table">
        <tr ><th>User Name</th><th>Password</th><th></th></tr>
        <
    </table>
</div>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/common/common.js"></script>
</html>
